/**
 * @file
 * Styles for commo_kb_page nodes
 */

#block-menu-block-11 .menu-block-11 > ul.menu > li {
  margin: 0;
  padding: 0;
}

#block-menu-block-11 ul.menu > li.expanded span {
  font: normal 36px/36px AsapRegular;
  color: black;
  background: #e8ff00;
  border-bottom: 1px solid black;
  display: block;
  margin: 0;
  padding: 15px 15px 13px 15px;
}

#block-menu-block-11 ul.menu > li.expanded {
  list-style-image: none;
  list-style-type: none;
}

#block-menu-block-11 ul ul {
  margin: 20px 0 20px 0;
  padding: 0;
  list-style-type: none;
}

#block-menu-block-11 ul ul li {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 35px;
}

#block-menu-block-11 ul ul li a:link,
#block-menu-block-11 ul ul li a:visited,
#block-menu-block-11 ul ul li a:active,
#block-menu-block-11 ul ul li a:hover {
  color: black;
  border: none;
  text-decoration: none;
}

#block-menu-block-11 ul ul li.active {
  border-left: 4px solid #FE739B;
  padding-left: 31px;
  background: #eae8e8;
}

.commo_ck-links a:link,
.commo_ck-links a:visited
.commo_ck-links a:active,
.commo_ck-links a:hover,
.commo_ck-links a:focus {
  display: block;
  outline: 0;
  background: transparent url(../images/commo_ck/CCK_pdf.png) 0 0 no-repeat;
  padding-top: 127px;
  background-clip: padding-box;
  text-decoration: none;
}

.commo_ck-links .commo_ck-download-pdf-link:hover,
.commo_ck-links .commo_ck-download-pdf-link:active,
.commo_ck-links .commo_ck-download-pdf-link:focus {
  background-image: url(../images/commo_ck/CCK_pdf_rollover.png);
}

.commo_ck-links .commo_ck-send-feedback:link,
.commo_ck-links .commo_ck-send-feedback:visited {
  background-image: url(../images/commo_ck/CCK_ask_questions.png);
}

.commo_ck-links .commo_ck-send-feedback:hover,
.commo_ck-links .commo_ck-send-feedback:active,
.commo_ck-links .commo_ck-send-feedback:focus {
  background-image: url(../images/commo_ck/CCK_ask_questions_rollover.png);
}

.commo_ck-links a:first-child {
  margin-bottom: 20px;
}

.field-name-field-commo-ck-tags .field-item a:link,
.field-name-field-commo-ck-tags .field-item a:visited,
.field-name-field-commo-ck-tags .field-item a:active
.field-name-field-commo-ck-tags .field-item a:hover,
.block-views-commo-ck-tags-block a:link,
.block-views-commo-ck-tags-block a:visited,
.block-views-commo-ck-tags-block a:active
.block-views-commo-ck-tags-block a:hover {
  display: block;
  font: normal 17px/17px AsapRegular !important;
  background: #00ffcf;
  color: black !important;
  margin: 20px 0 20px 20px;
  padding: 4px;
  text-transform: uppercase;
  text-decoration: none;
  border: 0 !important;
}

.field-name-field-commo-ck-tags .field-item a {
  float: left;
  margin: 20px 0 20px 20px;
}

.block-views-commo-ck-tags-block a sup {
  vertical-align: super;
  font-size: smaller;
  line-height: normal;
}

.commo_ck-links a div,
.field-name-field-commo-ck-tags .field-label,
.block-views-commo-ck-tags-block .block-title {
  background: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  padding: 11px 15px;
}

#block-system-main .node-commo-ck-page {
  background: #eae8e8;
}

#block-system-main .node-commo-ck-page h1 {
  margin: 0 0 20px 0;
  padding: 15px 0 13px 15px;
  background: #333;
  color: white;
  font: normal 30px/30px AsapRegular;
}

#block-system-main .node-commo-ck-page section {
  border-bottom: 1px solid white;
  margin-bottom: 25px;
}

#block-system-main .node-commo-ck-page h2 {
  margin: 0 0 20px 0;
  border-left: 4px solid #FE739B;
  padding: 0 0 0 13px;
  font: normal 15px/15px AsapBold;
}

#block-system-main .node-commo-ck-page p,
#block-system-main .node-commo-ck-page li {
  padding: 0;
  margin: 0 0 25px 15px;
}

#block-system-main .node-commo-ck-page ul {
  margin: 0;
  padding: 0;
}

#block-system-main .node-commo-ck-page li {
  list-style-type: none;
  list-style-image: none;
}

