/**
 * @file
 * Styles for commo_kb_page nodes
 */

#block-menu-block-11 .menu-block-11 > ul.menu > li {
  margin: 0;
  padding: 0;
}

#block-menu-block-11 ul.menu > li.expanded span,
#block-menu-block-11 ul.menu > li.expanded > a:link,
#block-menu-block-11 ul.menu > li.expanded > a:visited,
#block-menu-block-11 ul.menu > li.expanded > a:active,
#block-menu-block-11 ul.menu > li.expanded > a:hover {
  font: normal 36px/36px AsapRegular;
  color: black;
  background: #e8ff00;
  text-decoration: none;
  border-bottom: 1px solid black;
  display: block;
  margin: 0;
  padding: 15px 20px 13px 15px;
}

#block-menu-block-11 ul.menu > li.expanded {
  list-style-image: none;
  list-style-type: none;
}

#block-menu-block-11 ul ul {
  margin: 20px 0 20px 0;
  padding: 0;
  list-style-type: none;
}

#block-menu-block-11 ul ul li {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 35px;
}

#block-menu-block-11 ul ul li a {
  display: block;
}

#block-menu-block-11 ul ul li a:link,
#block-menu-block-11 ul ul li a:visited {
  color: black;
  border: none;
  text-decoration: none;
}

#block-menu-block-11 ul ul li:hover {
  color: black;
  border: none;
  text-decoration: none;
  background: #eae8e8;
}

#block-menu-block-11 ul ul li.active {
  border-left: 4px solid #FE739B;
  padding-left: 31px;
  background: #e8ff00;
}

#block-menu-block-11 ul ul li.active:hover {
  background: #e8ff00;
}

.commo_ck-links a:link,
.commo_ck-links a:visited
.commo_ck-links a:active,
.commo_ck-links a:hover,
.commo_ck-links a:focus {
  display: block;
  outline: 0;
  background: transparent url(../images/commo_ck/CCK_pdf.png) 0 0 no-repeat;
  padding-top: 127px;
  background-clip: padding-box;
  text-decoration: none;
}

.commo_ck-links .commo_ck-download-pdf-link:hover,
.commo_ck-links .commo_ck-download-pdf-link:active,
.commo_ck-links .commo_ck-download-pdf-link:focus {
  background-image: url(../images/commo_ck/CCK_pdf_rollover.png);
}

.commo_ck-links .commo_ck-send-feedback:link,
.commo_ck-links .commo_ck-send-feedback:visited {
  background-image: url(../images/commo_ck/CCK_ask_questions.png);
}

.commo_ck-links .commo_ck-send-feedback:hover,
.commo_ck-links .commo_ck-send-feedback:active,
.commo_ck-links .commo_ck-send-feedback:focus {
  background-image: url(../images/commo_ck/CCK_ask_questions_rollover.png);
}

.commo_ck-links a:first-child {
  margin-bottom: 20px;
}

.field-name-field-commo-ck-tags .field-item a:link,
.field-name-field-commo-ck-tags .field-item a:visited,
.field-name-field-commo-ck-tags .field-item a:active
.field-name-field-commo-ck-tags .field-item a:hover,
.block-views-commo-ck-tags-block a:link,
.block-views-commo-ck-tags-block a:visited,
.block-views-commo-ck-tags-block a:active
.block-views-commo-ck-tags-block a:hover {
  display: inline-block;
  font: normal 17px/17px AsapRegular !important;
  background: #00ffcf;
  color: black !important;
  margin: 0 0 20px 15px;
  padding: 4px;
  text-transform: uppercase;
  text-decoration: none;
  border: 0 !important;
}

.field-name-field-commo-ck-tags .field-item {
  margin-top: 20px;
}

.block-views-commo-ck-tags-block div:first-child {
  margin-top: 20px;
}

.field-name-field-commo-ck-tags .field-item a {
  float: left;
  margin: 20px 0 20px 20px;
}

.block-views-commo-ck-tags-block a sup {
  vertical-align: super;
  font-size: 9px;
  line-height: normal;
}

.commo_ck-links a div,
.field-name-field-commo-ck-tags .field-label,
.block-views-commo-ck-tags-block .block-title {
  background: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  padding: 11px 15px;
}

#block-system-main .node-commo-ck-page {
  background: #eae8e8;
}

#block-system-main .node-commo-ck-page h1 {
  margin: 0 0 20px 0;
  padding: 15px 0 13px 15px;
  background: #333;
  color: white;
  font: normal 30px/30px AsapRegular;
}

#block-system-main .node-commo-ck-page section {
  border-bottom: 1px solid white;
  margin-bottom: 25px;
}

#block-system-main .node-commo-ck-page h2 {
  margin: 0 0 20px 0;
  border-left: 4px solid #FE739B;
  padding: 0 0 0 13px;
  font: normal 22px/22px AsapBold;
  letter-spacing: 0;
}

#block-system-main .node-commo-ck-page h3 {
  margin: 0 0 20px 15px;
  padding: 0;
  font: normal 16px/16px AsapBold;
  letter-spacing: 0;
  border-bottom: 1px solid #FE739B;
  display: inline-block;
  text-transform: none;
}

#block-system-main .node-commo-ck-page p {
  padding: 0;
  margin: 0 20px 25px 15px;
}

#block-system-main .node-commo-ck-page ul {
  margin: 0 20px 25px 15px;
}

#block-system-main .node-commo-ck-page li {
}

#block-system-main .node-commo-ck-page p.tip {
  border-top: 1px dashed #FE739B;
  margin: 0 20px 10px 15px;
  padding: 30px 0 20px 0;
  position: relative;
  font-family: AsapItalic;
}

#block-system-main .node-commo-ck-page p.tip:before {
  content: 'Tip: ';
}

#block-system-main .node-commo-ck-page p.tip:after {
  content: '';
  background: transparent url(../images/commo_ck/CCK_tip_icon.png) 0 0 no-repeat;
  position: absolute;
  left: 15px;
  top: -13px;
  height: 32px;
  width: 32px;
}

#block-system-main .node-commo-ck-page .references,
#block-system-main .node-commo-ck-page .related-information,
#block-system-main .node-commo-ck-page .external-resources {
  background-color: #4d4d4d;
  color: white;
  margin-bottom: 0;
  padding: 25px 0;
}

#block-system-main .node-commo-ck-page .references a,
#block-system-main .node-commo-ck-page .related-information a,
#block-system-main .node-commo-ck-page .external-resources a {
  color: white !important;
  text-decoration: underline !important;
  border: none !important;
}

#block-system-main .node-commo-ck-page code,
#block-system-main .node-commo-ck-page pre {
  font-family: monospace;
  background-color: #D8F2FC;
}

#block-system-main .node-commo-ck-page pre {
  border: none;
  padding: 0;
  margin: 0 20px 25px 15px;
}

#block-system-main .node-commo-ck-page hr {
  max-width: 100%;
  background-color: transparent;
  border-bottom: 1px dashed black;
  margin: 30px 20px 30px 15px;
}

#block-system-main .node-commo-ck-page dl {
  padding: 0;
  margin: 0 20px 25px 15px;
}

#block-system-main .node-commo-ck-page dt {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

#block-system-main .node-commo-ck-page dd {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 100%;
  font-family: AsapItalic;
  font-style: normal;
}

#block-system-main .node-commo-ck-page p:first-child img:first-child {
  padding: 15px 0;
}

#block-system-main .node-commo-ck-page table {
  border: 0;
  padding: 0;
  margin: 0 20px 25px 15px;
  width: auto;
}

#block-system-main .node-commo-ck-page tr {
  border-bottom: 1px dashed black;
}

#block-system-main .node-commo-ck-page td {
  padding: 5px;
  margin: 0;
}

#block-system-main .node-commo-ck-page td:first-child {
  padding-left: 0;
}

#block-system-main .node-commo-ck-page tr:hover td,
#block-system-main .node-commo-ck-page tr.even:hover td.active,
#block-system-main .node-commo-ck-page tr.odd:hover td.active {
  background: white;
}
#block-system-main .node-commo-ck-page thead tr,
#block-system-main .node-commo-ck-page tfoot tr {
  border: none;
}

#block-system-main .node-commo-ck-page thead th {
  background: white;
  font-family: AsapBold;
  border: none;
}

#block-system-main .node-commo-ck-page tfoot th,
#block-system-main .node-commo-ck-page tfoot td {
  background: #333;
  color: white;
  font-family: AsapBold;
}

