/* Internet Explore specific CSS overrides */


.frame-text,
.frame-desc {
  display:block;
  overflow:visible;
}
.frame-text {
  position: absolute !important;
  right: 0;
}
.frame .frame-text {
  background-image: url('../images/white80opacity.png');
  background-repeat: repeat;
}
#block-system-main .view-get-started.view-get-involved .frame .background {
  width: 75%;
  min-width: 750px;
}


.front #block-system-main .panel-pane.pane-1 .pane-content,
.front #block-system-main .panel-pane.pane-2 .pane-content,
.front #block-system-main .panel-pane.pane-1,
.front #block-system-main .panel-pane.pane-2 {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
}
