/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

.page-get-involved #zone-content,
.page-get-involved #region-content,
.page-get-started #zone-content,
.page-get-started #region-content {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.view-get-started .frame .frame-text {
  position: absolute;
  bottom: 30px;
  right: 0;
  background: url(../images/white80opacity.png) repeat;
}
.view-get-started.view-get-involved .frame .frame-text {
}
#block-system-main .view-get-started .frame-desc {
}

.view-get-started .frame {
  text-align:left;
}
.view-get-started.view-get-involved .frame {
  text-align:center;
  min-height: 600px;
}
#block-system-main .view-get-started.view-get-involved .frame .background {
  width: 75%;
  min-width: 750px;
}
#block-system-main .view-get-started.view-get-involved .frame h2.frame-title {
}
