/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

.page-get-started #zone-content,
.page-get-started #region-content {
  margin-left: 0;
  margin-right: 0;
}
.page-get-started #zone-content {
  width: 1020px !important;
}
.page-get-started #region-content {
  width: 1000px !important;
}

.view-get-started .frame .frame-text {
  position: absolute;
  bottom: 50px;
  right: 0;
}
#block-system-main .view-get-started .frame-desc {
  margin-bottom: -30px;
}

.view-get-started .frame {
  height: 710px;
  text-align:left;
}
