/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

.page-get-started #zone-content,
.page-get-started #region-content {
  margin-left: auto;
  margin-right: auto;
  width: 1020px;
}
.view-get-started .frame {
  height: 724px;
}
.view-get-started .frame .frame-text {
  bottom: 100px;
  max-width: 333px;
}
